
<div layout="row" layout-padding layout-wrap layout-fill ng-cloak>
  <md-whiteframe flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout layout-align="center center">

    <form>
      <md-content layout-padding class="autoScroll">
        <hgroup>
          <h1>Tesseract</h1>
          <h3><img class="logo" src="images/tesseract.png" alt="" /></h3>
        </hgroup>
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <label>Username</label>
          <md-icon md-font-library="material-icons">account_box</md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <label>Password</label>
          <md-icon md-font-library="material-icons">lock</md-icon>
          <input ng-model="user.password" type="password">
        </md-input-container>
        <md-button class="md-raised md-primary">Login</md-button>
        <md-button class="md-raised md-primary" ng-href="#/cards">cards</md-button>
        <md-button class="md-raised md-primary" ng-href="#/login">real log</md-button>

      </md-content>
    </form>
  </md-whiteframe>
</div>
