body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; }

hgroup {
  text-align: center; }

mtg-card {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 100%;
  transition: margin 0.5s ease-in-out; }

.logo {
  border-radius: 10px; }

.card-results {
  margin: 0;
  padding: 0; }
  .card-results li {
    list-style-type: none; }
  .card-results h3, .card-results h4, .card-results h5 {
    margin: 1px; }
  .card-results img {
    position: relative;
    display: inline-block;
    width: 35%;
    transition: all 0.8s ease;
    max-width: 150px; }
    .card-results img:hover {
      position: relative; }
  .card-results .info {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: 60%; }
