body {
  font-family: "Roboto", sans-serif;
}
mtg-card {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: margin .5s ease-in-out;

}

.logo {
  border-radius: 10px;
}
// card results
.card-results {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
  img {
    position: relative;
    display: inline-block;
    // width: 25%;
    transition: all .8s ease;
    max-width: 150px;
    &:hover {
      position: relative;
      transform: scale(2.0);
      z-index: 10;
    }
  }
  .info {
    display:inline-block;
    vertical-align: top;
    padding: 20px;
    width: 60%;

  }
  .btn-group {

  }
}
