body {
  font-family: "Roboto", sans-serif;
  background: #eee;
  -webkit-font-smoothing: antialiased;
}
hgroup {
	text-align:center;
}
mtg-card {
  position: relative;
  display: inline-block;
  padding: 0;
  width:100%;
  transition: margin .5s ease-in-out;

}

.logo {
  border-radius: 10px;
}
// card results
.card-results {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
  h3,h4,h5 {
    margin: 1px;
  }
  img {
    position: relative;
    display: inline-block;
    width: 35%;
    transition: all .8s ease;
    max-width: 150px;
    &:hover {
      position: relative;
    }
  }
  .info {
    display:inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: 60%;

  }
  .btn-group {

  }
}
