<div class="container">
  <section class="columns">
    <div class="three-thirds column">
      <h1>Find Cards</h1>
    </div>
  </section>
  <div class="columns">
    <div class="one-fifth column">
      <nav class="menu">
        <span class="menu-heading">Search</span>
        <div class="menu-item selected" href="#">
          <input class="input-contrast input-block" type="text" ng-model="search.name" ng-keydown="cardResults(search.name)" name="name" value="" placeholder="search for card">
        </div>
        <a class="menu-item" href="#">
          <span class="octicon octicon-person"></span>
          Profile
        </a>
        <a class="menu-item" href="#">
          <span class="octicon octicon-mail"></span>
          Emails
        </a>
        <a class="menu-item" href="#">
          <span class="octicon octicon-radio-tower"></span>
          <span class="counter">3</span>
          Notifications
        </a>
      </nav>

    </div>

    <div class="four-fifths column">
      <div ng-show="searchResults.length === 0" class="blankslate spacious">
        <h3>Sorry, no results found</h3>
        <p>Please try your search again.</p>
      </div>
      <ul class="card-results">
        <li ng-repeat="card in searchResults | filter:search">
          <mtg-card card="card" action="alertMe(card.name)" action-text="Add to Deck"></mtg-card>
        </li>
      </ul>

    </div>
  </div>

</div>
