<a href="#/logout">logout</a>
<section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" layout-padding>
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Card Search</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-input-container class="md-icon-float">
          <label>Name</label>
          <md-icon md-font-library="material-icons">find_in_page</md-icon>
          <input class="input-contrast input-block" type="text" ng-model="search.name" ng-keydown="cardResults(search.name)" name="name" value="" placeholder="search for card">
        </md-input-container>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools"><span>{{searchResults.length}} results</span></h1>
      </md-toolbar>
      <div layout="column" layout-fill layout-align="top center" layout-padding>
         <mtg-card ng-repeat="card in searchResults" class="card-results" card="card" action="addCard(card)" action-text="Add to Deck"></mtg-card>
      </div>

    </md-content>

  </section>
